@keyframes placeHolderShimmer {
  from {
    background-position: -468px 0;
  }
  to {
    background-position: 468px 0;
  }
}

.animatedLoader {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #d4d4d4;
  background: linear-gradient(to right, #d4d4d4 10%, #b6b6b6 28%, #d4d4d4 43%);
  background-size: 800px 300px;
  position: relative;
}
